html {
  background-color: #A9A9A9;
}

div {
  position: relative;
  /* width: 500px;
  height: 200px; */
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.section-1 {
  /* 515px total width-255px total height */
  background-color: #F3F3F3;
  display: block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 150px;
  width: 515px;
  height: 225px;
}

.div-1 {
  /* 112px total width-45px total height */
  background-color: #FF3C4E;
  display: inline-block;
  line-height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 113px;
  height: 45px;
  /* font-size: 20px; */
  /* width: 112px;
  height: 45px; */
}

.section-2 {
  /* 513px total width -393px total height */
  background-color: #F3F3F3;
  display: block;
  position: relative;
  margin-bottom: 100px;
  margin-left: 680px;
  width: 513px;
  height: 393px;
}

.div-2 {
  /* 121px total width-44px total height */
  background-color: #FF3C4E;
  display: inline-block;
  line-height: 45px;
  position: absolute;
  left: 0;
  top: 0;
  width: 121px;
  height: 45px;
  /* font-size: 20px; */
}

img {
  width: 513px;
  height: 200px;
}

/* Image = 513px total width-202px total height */

.section-3 {
  /* 515px total width-198px total height */
  background-color: #F3F3F3;
  display: block;
  position: relative;
  margin-bottom: 100px;
  margin-left: 150px;
  width: 515px;
  height: 198px;
}

.div-3 {
  /* 110px total width-45px total height */
  background-color: #FF3C4E;
  display: inline-block;
  line-height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 110px;
  height: 45px;
  /* font-size: 20px; */
}
